html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f0f2f5;
}

.clone {
  color: blue;
}

.bem {
  color: #800068;
}

h1{
  color: #1C1E21;
  font-size: 28px;
}

.caixinha {
  background-color: #FFFF;
  min-width: 396px;
  }

.caixinha-input {
  padding: 14px 16px;
  border: 0.8px solid #dddfe2;
  border-radius: 5px;
  width: 332px;
  margin: 15px 15px 0 15px;
}

.caixinha-button {
  background-color: #1877f2;
  color: #FFF;
  border-radius: 6px;
  width: 332px;
  border: none;
  display: block;
}
